.items{

    width:500px;
    height: 200px;
    color: red;
    background-color: lightgreen;
    font-weight: 800;

}

.myCart{
    background-color: green;
    height: 600px;
    width: 500px;
    color:  white;
}